.product-item{
    border: 1px solid #ccc;
}

.product-item img{
    width: 100%;
}

.product-item h3{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: normal;
}

.product-item .product-info{
    padding: 10px;
}